@charset "UTF-8";

body{
    background-color: black;
    background-image: url(imagens/espaco.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}

article img{
    margin: auto;
    display: block;
}

