@charset "UTF-8";

body{
    background: url(../imagem/cev-portrait.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center ;
    background-color: rgb(55, 55, 255);
}
